<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课程信息管理</title>
    <meta name="description" content="管理员主页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../static/assets/css/admin.css">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <script src="../static/assets/js/echarts.min.js"></script>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <!-- <a href="javascript:;" class="tpl-logo">
                <img src="../static/assets/img/logo.png" alt=""> 
            </a> -->
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-calendar"></span> 进度 <span class="am-badge tpl-badge-primary am-round">4</span></span>
                    </a> -->
                </li>
                <!-- <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li> -->

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{ .loginer_name }}</span><span
                            class="tpl-header-list-user-ico"> <img src="../static/assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="/admin_person_info"><span class="am-icon-bell-o"></span> 个人资料</a></li>
                        <li><a href="/update_password?type=admin"><span class="am-icon-cog"></span> 修改密码</a></li>
                        <li><a href="/sign_out"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="/sign_out" class="tpl-header-list-link"><span
                            class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                管理员功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/admin_index" class="nav-link">
                            <i class="am-icon-bar-chart"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>信息添加</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li class="tpl-left-nav-item">
                                <a href="/add_teacher" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加教师</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>

                            <li class="tpl-left-nav-item">
                                <a href="/add_student" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加学生</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_college" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加学院</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_major" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加专业</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_class" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加班级</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_course" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加课程</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-wpforms"></i>
                            <span>信息管理</span>
                            <i
                                class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <!-- TODO: -->
                                <a href="/admin_teacher_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>教师信息管理</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>

                            <li>
                                <!-- TODO: -->
                                <a href="admin_student_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>学生信息管理</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>
                            <li>
                                <!-- TODO: -->
                                <a href="admin_course_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>课程信息管理</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>
                            <li>
                                <!-- TODO: -->
                                <a href="/admin_notice_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>公告发布</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <!-- TODO: -->
                        <a href="/admin_score_manager" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>学生成绩管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>





        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                课程信息管理
            </div>
            <ol class="am-breadcrumb">
                <!-- <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">分类</a></li>
                <li class="am-active">内容</li> -->
            </ol>
            <div class="am-g tpl-amazeui-form" id="main_div">


                <div class="am-u-sm-12 am-u-md-9" id="main_div">
                    <form action="/admin_teacher_manager" method="post" id="form1" class="am-form am-form-horizontal"
                        name="input_form">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">学院 </label>
                            <div class="am-u-sm-9">
                                <select id="college_uid" name="college_uid" onchange="make_major_options()">
                                    <option value="">请选择所属学院</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">专业 </label>
                            <div class="am-u-sm-9">
                                <select id="major_uid" name="major_uid" onchange="make_class_options()">
                                    <option value="">请选择所属专业</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">班级 </label>
                            <div class="am-u-sm-9">
                                <select id="class_uid" name="class_uid" value="">
                                    <option value="">请选择所属班级</option>
                                </select>
                            </div>
                        </div>

                        <script type="text/javascript">
                            window.onload = function () {
                                make_college_options();
                            }
                        </script>


                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="button" id="submit_button" class="am-btn am-btn-primary"
                                    onclick="GetTeacherInfo()" value="查询" />
                                <script type="text/javascript">
                                    function GetTeacherInfo() {
                                        var class_uid = document.getElementById("class_uid").value;
                                        if (class_uid == "") {
                                            alert("请选择要管理的班级！");
                                            return;
                                        }
                                        var form = document.forms.namedItem("input_form");
                                        var formData = new FormData(form);
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            url: "/admin_query_class_course",
                                            data: $('#form1').serialize(),
                                            success: function (result) {
                                                showResult(result);
                                            },
                                            error: function () {
                                                alert("获取后台数据失败！");
                                            }
                                        })
                                    }

                                    function showResult(result) {
                                        console.log(result);
                                        
                                        document.getElementById("form1").style.display = "none";
                                        //alert(result);
                                        
                                        var perfix = "\<div class=\"am-g\"\>\<form class=\"am-form\"\>\
                                                        \<table class=\"am-table am-table-striped am-table-hover table-main\"\>\
                                                        \<thead\>\
                                                        \<tr\>\
                                            \<th class=\"table-id\"\>序号\</th\>\
                                            \<th class=\"table-title\">课程名\</th\>\
                                            \<th class=\"table-type\"\>所属学院\</th\>\
                                            \<th class=\"table-date am-hide-sm-only\"\>学分\</th\>\
                                            \<th class=\"table-date am-hide-sm-only\"\>学时\</th\>\
                                            \<th class=\"table-date am-hide-sm-only\"\>授课教师\</th\>\
                                            \<th class=\"table-date am-hide-sm-only\"\>课程类型\</th\>\
                                            \<th class=\"table-date am-hide-sm-only\"\>课程状态\</th\>\
                                            \</tr\>\
                                            \</thead\>\
                                            \<tbody\>";
                                            

                                            var mid = "";
                                            if (result != null) {

                                                $.each(result, function (index, obj) {

                                                    mid += "\<tr\>\
                                                            \<td\>"+ index +"\</td\>\
                                                            \<td\>"+ obj["CourseName"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["CollegeName"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["Credit"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["Hour"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["TeacherName"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["Type"] +"\</td\>\
                                                            \<td class=\"am-hide-sm-only\"\>"+ obj["Status"] +"\</td\>\
                                                            \</tr\>";
                                                })
                                            }
                                        
                                        var suffix = "\</tbody\>\
                                                        \</table\>\</form\>\
                                                        \<div class=\"am-form-group\"\>\
                                                            \<div class=\"am-u-sm-9 am-u-sm-push-3\"\>\
                                                        \<a href=\"/admin_add_course?class_uid="+ document.getElementById("class_uid").value +"\"\>\<button type=\"button\" class=\"am-btn am-btn-primary\"\>添加课程\</button\>\</a\>\
                                                        \</div\>\</div\>\</div\>";

                                        var tmp = perfix + mid + suffix;
                                        $('#main_div').append(tmp);
                                    }
                                </script>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/amazeui.min.js"></script>
        <script src="../static/assets/js/iscroll.js"></script>
        <script src="../static/assets/js/app.js"></script>
        <script src="../static/assets/js/ahaoozhang-common.js"></script>
</body>

</html>