<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员主页</title>
    <meta name="description" content="管理员主页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../static/assets/css/admin.css">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <script src="../static/assets/js/echarts.min.js"></script>
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <!-- <a href="javascript:;" class="tpl-logo">
                <img src="../static/assets/img/logo.png" alt=""> 
            </a> -->
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-calendar"></span> 进度 <span class="am-badge tpl-badge-primary am-round">4</span></span>
                    </a> -->
                </li>
                <!-- <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li> -->

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{ .loginer_name }}</span><span
                            class="tpl-header-list-user-ico"> <img src="../static/assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="/person_info"><span class="am-icon-bell-o"></span> 个人资料</a></li>
                        <li><a href="/change_password"><span class="am-icon-cog"></span> 修改密码</a></li>
                        <li><a href="/sign_out"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="###" class="tpl-header-list-link"><span
                            class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                管理员功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/admin_index" class="nav-link active">
                            <i class="am-icon-bar-chart"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>信息添加</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li class="tpl-left-nav-item">
                                <a href="/add_teacher" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加教师</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>

                            <li class="tpl-left-nav-item">
                                <a href="/add_student" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加学生</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_college" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加学院</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_major" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加专业</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_class" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加班级</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                            <li class="tpl-left-nav-item">
                                <a href="/add_sourse" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-table"></i>
                                    <span>添加课程</span>
                                    <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>信息管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <!-- TODO: -->
                                <a href="/teacher_info_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>教师信息管理</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>

                            <li>
                                <!-- TODO: -->
                                <a href="student_info_manager" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-wpforms"></i>
                                    <span>学生信息管理</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> 星标 -->
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <!-- TODO: -->
                        <a href="/student_score_manager" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>学生成绩管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form action="/update_admin_info" method="post" class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">登录名</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="input_name" name="name" value="{{.name}}" readonly="true">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="college_id" class="am-u-sm-3 am-form-label">邮箱 </label>
                            <div class="am-u-sm-9">
                                <input type="text" id="input_mail" name="mail" value="{{.mail}}" readonly="true">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="college_id" class="am-u-sm-3 am-form-label">创建时间 </label>
                            <div class="am-u-sm-9">
                                <input type="text" name="create_time" value="{{.create_time}}" readonly="true">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="college_id" class="am-u-sm-3 am-form-label">过期时间 </label>
                            <div class="am-u-sm-9">
                                <input type="text" name="expr_time" value="{{.expr_time}}" readonly="true">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="college_id" class="am-u-sm-3 am-form-label">login_ip </label>
                            <div class="am-u-sm-9">
                                <input type="text" name="login_ip" value="{{.login_ip}}" readonly="true">
                            </div>
                        </div>


                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" id="submit_button" class="am-btn am-btn-primary">提交</button>
                                <button type="button" class="am-btn am-btn-primary" onclick="changeReadOnly()">修改</button>
                                <script>
                                    function changeReadOnly() {
                                        $("#input_name").attr("readOnly",false);
                                        $("#input_mail").attr("readOnly",false);


                                        $("#submit_button").attr("type","submit");
                                    }
                                </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  

    </div>


    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/amazeui.min.js"></script>
    <script src="../static/assets/js/iscroll.js"></script>
    <script src="../static/assets/js/app.js"></script>
</body>

</html>