<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教师主页</title>
    <meta name="description" content="教师主页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../static/assets/css/admin.css">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <script src="../static/assets/js/echarts.min.js"></script>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <!-- <a href="javascript:;" class="tpl-logo">
                <img src="../static/assets/img/logo.png" alt=""> 
            </a> -->
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span></span>
                    </a> -->
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <!-- <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-calendar"></span> 进度 <span class="am-badge tpl-badge-primary am-round">4</span></span>
                    </a> -->
                </li>
                <!-- <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li> -->

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{ .loginer_name }}</span><span
                            class="tpl-header-list-user-ico"> <img src="../static/assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="/teacher_person_info"><span class="am-icon-bell-o"></span> 个人资料</a></li>
                        <li><a href="/update_password?type=teacher"><span class="am-icon-cog"></span> 修改密码</a></li>
                        <li><a href="/sign_out"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="sign_out" class="tpl-header-list-link"><span
                            class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                教师功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="teacher_index" class="nav-link">
                            <i class="am-icon-bar-chart"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-table"></i>
                            <span>任课信息管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <!-- TODO: -->
                                <a href="teacher_course_query">
                                    <i class="am-icon-angle-right"></i>
                                    <span>任课信息查询</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>学生成绩管理</span>
                            <i
                                class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>

                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <!-- TODO: -->
                                <a href="/teacher_query_score">
                                    <i class="am-icon-angle-right"></i>
                                    <span>成绩查询</span>
                                </a>

                                <a href="/teacher_input_score">
                                    <i class="am-icon-angle-right"></i>
                                    <span>成绩录入</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>课程达成度计算</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <input type="hidden" id="rsp_data" value={{.data}}>




        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                学生信息
            </div>
            <ol class="am-breadcrumb">
                <!-- <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li> -->
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 表单
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <!-- <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div> -->
                        </div>
                    </div>


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form  id="form1" action="/teacher_input_score_third" method="post" class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">课程</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="course_name" name="course_name" value="" readonly="true">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">班级</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="class_name" name="class_name" value="" readonly="true">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">平时成绩占比%</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" id="usual_percent" name="usual_percent" value="">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">期中成绩占比%</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" id="mid_percent" name="mid_percent" value="">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">期末成绩占比%</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" id="end_percent" name="end_percent" value="">
                                    </div>
                                    <input type="hidden" id="is_update_percent" name="is_update_percent" value="0">
                                </div>

                                <script type="text/javascript">
                                    function first() {
                                        var data = document.getElementById("rsp_data").value;
                                        var result = JSON.parse(data);
                                        if (result["OK"] == false) {
                                            alert("课程与班级不匹配，请返回上一步重新选择！");
                                            return;
                                        }
                                        document.getElementById("course_name").value = result["CourseName"];
                                        document.getElementById("class_name").value = result["ClassName"];

                                        if (result["PercentOK"] == true) {
                                            document.getElementById("usual_percent").value = result["UsualPercent"];
                                            document.getElementById("usual_percent").readOnly = true;
                                            document.getElementById("mid_percent").value = result["MidPercent"];
                                            document.getElementById("mid_percent").readOnly = true;
                                            document.getElementById("end_percent").value = result["EndPercent"];
                                            document.getElementById("end_percent").readOnly = true;
                                            document.getElementById("is_update_percent").value = 0;
                                            return;
                                        }
                                        document.getElementById("is_update_percent").value = 1;
                                    }

                                    window.onload = function () {
                                        first();
                                    }


                                </script>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary"
                                            onclick="return getCourseClassStudent()">确定</button>
                                        <script type="text/javascript">
                                            function getCourseClassStudent() {
                                                // 查询学生  检查成绩占比
                                                var usual = document.getElementById("usual_percent").value;
                                                var mid = document.getElementById("mid_percent").value;
                                                var end = document.getElementById("end_percent").value;
                                                if ((Number(usual) + Number(mid) + Number(end)) != 100) {
                                                    alert("成绩占比总和不为100%！");
                                                    return false;
                                                }
                                                return true;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>












            <script src="../static/assets/js/jquery.min.js"></script>
            <script src="../static/assets/js/amazeui.min.js"></script>
            <script src="../static/assets/js/iscroll.js"></script>
            <script src="../static/assets/js/app.js"></script>
</body>

</html>